/******** MOBILE ********/
/***** COMMON RULES *****/
body {
    background-color: #E9EBEE;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

h2, h3 {
    margin-top: 0;
}

/***** MAIN LAYOUT *****/
.mainMenu {
    height: 2.3rem;
    align-items: center;
    display: flex;
}    

.mainMenu .mobileLogo {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 7rem;
}

.logo {
    display: none;
}

.mainMenu h1 {
    font-size: 1.5rem;
    margin: 0;
    padding-left: 2rem;
}

.mainMenu, .underImgMenu, footer, aside, #post-create-form, article, #profileCreateForm {
    background: white;
    border: 1px solid black;
}

.underImgMenu, footer {
    height: 2.3rem;
}

.underImgMenu figure {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem;
}

nav {
    display: flex; /* definuje flex kontejner */
    flex-grow: 1; /* všechny děti mají stejné množství místa */
    justify-content: flex-end; /* zarovná itemy na main axis, flex-end=doprava */
    align-self: stretch; /* override align-items pro konkrétní item,
                         zarovná itemy na cross-axis,
                         strech znamená roztáhnout na celou výšku */
    padding-right: 2rem;
}

nav ul {
    display: flex; /* definuje flex kontejner */
    list-style: none;
    padding-left: 0;
    align-items: stretch; /* zarovná itemy na cross-axis, strech znamená roztáhnout na celou výšku */
    font-size: 1.2rem;
    margin: 0;
    flex-direction: row; /* směr v jakým sou flex items zobrazený ve flex conteineru, row=zleva doprava  */
}

nav ul li {
    padding: 0 1.5rem;
    align-items: center; /* zarovná itemy na cross-axis, strech znamená na střed */
    display: flex; /* definuje flex kontejner */
    flex-direction: column; /* směr v jakým sou flex items zobrazený ve flex conteineru, column=zvrchu dolů */
    justify-content: center; /* zarovná itemy na main axis, center=na střed */
}

nav ul li:active {
    background: #F5F6F7;
}

nav ul li:hover {
    background: #e0e3e6;
}

nav ul li a {
    text-decoration: none;
    color: #4267B2;
}

.content {
    display: flex; /* definuje flex kontejner */
    flex-direction: row; /* směr v jakým sou flex items zobrazený ve flex conteineru, row=zleva doprava  */
}

aside {
    margin: 1rem;
    padding: 1rem;
    min-width: 15rem;
}

.coverImgFig {
    margin: 0;
}

.coverImg {
    height: 167px;
    width: 450px;
    margin: 0 auto;
    display: block;
}

/***** CREATE POST *****/
#postCreateForm, #profileCreateForm {
    padding: 1rem;
    margin: 1rem;
}

#postCreateForm .field, #profileCreateForm {
    margin-bottom: 0.8rem;
}

#postCreateForm .field input,
#postCreateForm .field textarea,
#profileCreateForm .field input,
#profileCreateForm .field textarea,
#profileCreateForm .field select {
    display: inline-block;
    width: 60%;
}
/************JAK oznacit radio field???*********/
#college .field input {
    width: 100%;
    color:blueviolet;
}

#postCreateForm label, #profileCreateForm label {
    display: inline-block;
    width: 10rem;
}

#postCreateForm .post {
    display: flex;
    flex-direction: row; /* směr v jakým sou flex items zobrazený ve flex conteineru, row=zleva doprava  */
    align-items: center; /* zarovná itemy na cross-axis, strech znamená na střed */
    justify-content: flex-start; /* zarovná itemy na main axis, center=na začátek */
}

#postCreateForm .post figure {
    margin: 0 7.8rem 0 0;
}

/***** MAIN CONTENT *****/

article {
    text-align: justify;
    padding: 1rem;
    margin: 1rem;
}

.author {
    display: flex;
    flex-direction: row; /* směr v jakým sou flex items zobrazený ve flex conteineru, row=zleva doprava  */
    justify-content: flex-start; /* zarovná itemy na main axis, center=na začátek */
}

figcaption {
    display: flex;
    flex-direction: column; /* směr v jakým sou flex items zobrazený ve flex conteineru, row=shora dolů  */
    align-items: flex-start; /* zarovná itemy na cross-axis, flex-start znamená shromáždí se nahoře */
}

.author figcaption h3 {
    margin: 0;
}

.author figcaption a:active {
    background: #F5F6F7;
}

.author figcaption a:hover {
    color: #878a8d;
}

.author figcaption a {
    text-decoration: none;
    color: black;
}

figcaption time {
    opacity: 0.7;
    align-self: flex-start;
}

/***** HIDE/SHOW MENU ITEMS *****/

.hide {
    display: none;
}

/******** TABLETS, STANDART LAPTOPS, BIG SCREENS ********/
@media only screen and (min-width: 768px) {
/***** COMMON RULES *****/
body {
    font-size: 1rem;
    line-height: 1.5rem;
}

.mainMenu {
    background: #4267B2;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.mainMenu .logo {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.8rem 0.8rem 0.8rem 9rem;
    display: block;
}

.mobileLogo {
    display: none;
}

.mainMenu nav ul li a:hover {
    background: #3B5CA0;
}

.mainMenu nav ul li a {
    color: #ffffff;
    background-color: inherit;
}

.underImgMenu, footer {
    height: 3rem;
}

aside {
    margin: 2rem;
    padding: 2rem;
    min-width: 15rem;
}

/***** CREATE POST *****/
#postCreateForm {
    padding: 2rem;
    margin: 2rem;
}

/***** MAIN CONTENT *****/
article {
    padding: 2rem;
    margin: 2rem;
}

/**** HEADER ****/
.coverImgFig {
    margin-top: 3rem;
}

.coverImg {
    height: 315px;
    width: 851px;
}

/***** SHOW ELEMENTS *****/

.show {
    display: block;
}



